@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --background-color: #0a192f;
  --text-color: #ccd6f6;
  --secondary-text-color: #8892b0;
  --highlight-color: #ffffff;
  --link-color: #38bdf8;
  --tag-background-color: #334155;
  --date-color: #94a3b8;
  --timeline-hover-background: rgba(30, 41, 59, 0.9);
  --timeline-hover-shadow: rgba(38, 21, 86, 0.15);
  --timeline-background: rgba(10, 25, 47, 1);
  --timeline-background-hover: rgba(10, 25, 47, 0.5);
}

html {
  margin: 0;
  padding: 0;
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;


}


.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 101%;
  background: radial-gradient(circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
      rgba(248, 248, 248, 0.538) 150px,
      rgba(255, 255, 255, 0.225) 300px,
      rgba(0, 0, 0, 0.8) 500px);
  pointer-events: none;
  z-index: 10;
  opacity: 0.1;
  transition: background 0.2s;
}

.menu {
  margin-top: 50px;
}

.menu a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--secondary-text-color);
  text-decoration: none;
  margin-bottom: 10px;
  position: relative;
  padding-left: 45px;
  transition: all 0.2s ease;
  text-transform: uppercase;
}

.menu a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 35px;
  height: 1px;
  background-color: var(--text-color);
  transform: translateY(-100%);
  transition: all 0.2s ease;
}

.menu a:hover::before,
.menu a.active::before {
  width: 70px;
}

.menu a:hover,
.menu a.active {
  color: var(--highlight-color);
  font-weight: bold;
  padding-left: 80px;
}

.container {
  position: static;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  gap: 10rem;
  height: auto;
  padding: 0;

  & a {
    text-decoration: none;
    color: white;
  }

}

.left-column {
  flex: 2;
  position: sticky;
  top: 40px;
  align-self: flex-start;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.right-header {
  padding-top: 36px;
  align-items: center;
  padding: 2.5rem 0rem 2.5rem 0rem;

  & a {
    text-decoration: none;
    color: white;
  }

  & h3 {
    font-size: 20px;
    color: var(--highlight-color);
  }
}

h1 {
  font-size: 88px;
  font-weight: bold;
  color: var(--highlight-color);
  margin-bottom: 20px;
  font-family: "Roboto Slab", serif;
}

.left-header h1 {
  position: relative;
  display: inline-block;
}

.left-header h1::after {
  content: "Memecoin";
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: none;
}

.left-header h1:hover::after {
  animation: typing 1s steps(10) forwards;
}

.left-header h1 {
  position: relative;
  display: inline-block;
}

.left-header h1::after {
  content: "Memecoin";
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: none;
}

.left-header h1:hover::after {
  animation: typing 1s steps(10) forwards;
}

h2 {
  font-size: 24px;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
  color: var(--secondary-text-color);
}

.social-icons {
  margin-top: 60px;
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: var(--text-color);
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--highlight-color);
}

.timeline {
  gap: 10px;
  display: grid;
  padding: 2rem 0rem 2rem 0rem;
  font-size: 14px;
  color: var(--secondary-text-color);
  position: relative;
  z-index: 0;
  /* Ensure this is lower than the .spotlight z-index */
  background-color: var(--timeline-background);
  transition: background-color 0.5s ease;
  /* Add transition for background-color */

  & h3 {
    font-size: 20px;
    color: var(--highlight-color);
  }
}

.timeline:hover {
  background-color: var(--timeline-background-hover);
  /* Change background-color on hover */
}

.timeline-container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  transition: box-shadow 0.2s ease, background-color 0.3s ease;
  pointer-events: auto;
  /* Ensure pointer events are enabled */
  position: relative;
  z-index: 1;
  /* Ensure this is higher than the .timeline */
  border-top: 1px solid transparent;
  /* Add transparent border initially */
  background-color: var(--timeline-background);
  /* Ensure background-color is set */

}

.timeline-container.visible {
  opacity: 1;
  /* Fully visible */
  transform: translateY(0);
  /* Move to original position */
}

.timeline-container:hover {
  box-shadow: 0 6px 10px var(--timeline-hover-shadow);
  background-color: var(--timeline-hover-background);
  border-top: 1px solid rgba(219, 217, 217, 0.1);
  /* Change border color on hover */
}

.timeline-container:hover h3 {
  color: var(--link-color);
  /* Change this to the desired color */
}

.content h3 {
  color: var(--highlight-color);
  margin: 0 0 10px 0;
}

.date {
  font-size: 12px;
  color: var(--date-color);
  margin-right: 30px;
  white-space: nowrap;
  padding: 0px 22px 0px 0px;
  flex-shrink: 0;
  /* Prevent shrinking */
  width: 100px;
  /* Set a fixed width */
  align-items: center;
}

.content {
  flex: 1;
}

.content p {
  margin: 10px 0;
  line-height: 1.6;
}

.tags {
  display: flex;
  gap: 8px;
  margin-top: 15px;
}

.tag {
  background-color: var(--tag-background-color);
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 12px;
  color: var(--link-color);
}

strong {
  color: var(--highlight-color);
}

strong:hover {
  color: var(--link-color);
  transition: color 0.3s ease;
}

.left-header .container {
  height: 100%;
  width: 100%;
  justify-content: left;
  align-items: left;
  display: flex;
  font-family: "Roboto Slab", serif;
}

.text {
  font-weight: 500;
  font-size: 65px;
  color: #fafafa;
}

.dud {
  color: #757575;
}


/* Cursor Styles */

.custom-cursor-doge:hover {
  cursor: url("../img/doge.png") 10 10, auto;
}


.custom-cursor-shiba:hover {
  cursor: url("../img/shiba.png") 10 10, auto;
}

.custom-cursor-pepe:hover {
  cursor: url("../img/pepe.png") 10 10, auto;
}

.custom-cursor-floki:hover {
  cursor: url("../img/floki.png") 10 10, auto;
}


/* How to Container */
.how-to-container {
  padding: 4rem 0rem 4rem 0rem;

}


.dos-and-donts-container {
  padding: 4rem 0rem 4rem 0rem;
}

.risks-and-rewards-container {
  padding: 4rem 0rem 6rem 0rem;
}

.risks-and-rewards-container .whales {
  padding: 4rem 0rem 6rem 0rem;
}


/* .dos {
  color: rgb(216, 213, 31);
}

.donts {
  color: rgb(223, 47, 208);
} */


/* Typerwriter Keyframes */
.left-header h1 {
  color: #fff;
  font-family: "Roboto Slab", serif;
  overflow: hidden;
  border-right: .15em solid rgb(241, 241, 241);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 3px;
  animation:
    typing 1s steps(30, end),
    blink-caret .5s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: rgb(255, 255, 255)
  }
}

/* Small screens (max width 600px) */
@media (max-width: 600px) {
  .body {
    margin: 0 auto;
    max-width: 430px;
    padding: 1rem;
    text-align: center;
    /* Center content */
  }

  .container {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    /* Added more margin to the left */
    margin-right: 0.5rem;
    /* Reduced margin on the right */
  }

  .left-column,
  .right-column {
    flex: 1;
    width: 100%;
    position: static;
  }

  .menu a {
    font-size: 12px;
    padding-left: 10px;
    display: none;
  }

  .spotlight {
    display: none;
  }

  h1 {
    font-size: 32px;
    /* Adjusted for smaller screens */
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }

  .timeline-container {
    width: 100%;
    padding: 15px;
  }
}

/* Medium screens (max width 768px) */
@media (max-width: 768px) {
  .body {
    margin: 0 auto;
    max-width: 768px;
    padding: 1rem;
    text-align: center;
    /* Center content */
  }

  .container {
    gap: 2rem;
    padding: 2rem;
    flex-direction: column;
    margin-left: 2rem;
    /* Added more margin to the left */
    margin-right: 1rem;
    /* Reduced margin on the right */
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 20px;
  }

  .timeline-container {
    width: 90%;
  }

  .social-icons {
    gap: 10px;
  }

  .left-column {
    position: static;
  }
}

/* Large screens (default layout applies) */
@media (min-width: 769px) {
  .body {
    margin: 0 auto;
    max-width: 1080px;
    text-align: center;
    /* Center content */
  }

  .container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 3rem;
    /* Added more margin to the left */
    margin-right: 2rem;
    /* Reduced margin on the right */
  }

  .left-column {
    width: 50%;
  }

  .right-column {
    width: 50%;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}